<!DOCTYPE html>
<html>
<head>
    <title>Cart App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container col-md-10" style="margin-top: 70px">
        <div class="container">
            <h2>Cart Items</h2>
            <h6>User Id:</h6>
        </div>
        <%if(items.length > 0){%>
        <a href="/deleteCart">Delete Cart</a>
        <%for(let i=0; i< items.length; i++){%>
        <div class="card" style="margin-top: 10px">
            <div class="card-block">
                <h4 class="card-title">Product Name: <%= items[i].name %></h4>
                <p class="card-text">Price: <%= items[i].rate %></p>
                <p class="card-text">Quantity: <%= items[i].count %></p>
                <p class="card-text">Total Item Price: <%= items[i].amount %></p>
            </div>
        </div>
        <%}%>
        <%}%>
        <%if(items.length <= 0){%>
        <div class="card" style="margin-top: 10px">
            <div class="card-block">
                <h4 class="card-title">Cart is Empty...Add Some items to view</h4>
                <button class="btn btn-primary" onclick="/home">Go To Products</button>
            </div>
        </div>
        <%}%>
    </div>
</body>
</html>
